<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dangs_preventtocart>
            <general>
                <enabled>0</enabled>
            </general>
        </dangs_preventtocart>
        <dangs_preventtocart>
            <general>
                <wording_preventtocart>login first to add to cart</wording_preventtocart>
            </general>
        </dangs_preventtocart>
    </default>
</config>